In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("C:/tangerine_price_prediction/data_1(temp_day).xlsx", engine="openpyxl")

In [3]:
df2 = pd.read_excel("C:/tangerine_price_prediction/data_2(avgPrice).xlsx", engine="openpyxl")

In [4]:
df1.tail()

           year  avgTemp  maxTemp  minTemp  rainFall
3764 2023-04-23     15.3     18.8     13.1       NaN
3765 2023-04-24     13.8     15.4     12.0       2.2
3766 2023-04-25     12.9     13.9     11.8       4.4
3767 2023-04-26     15.0     20.2     10.1       NaN
3768 2023-04-27     14.1     17.8     10.6       NaN

In [5]:
df1.fillna(0)

           year  avgTemp  maxTemp  minTemp  rainFall
0    2013-01-01      7.2     10.7      3.5       0.0
1    2013-01-02      6.2     10.9      1.3       0.0
2    2013-01-03      2.3      5.5      0.1       0.0
3    2013-01-04      3.4      6.7      0.3       0.0
4    2013-01-05      5.1      8.8      2.5       0.0
...         ...      ...      ...      ...       ...
3764 2023-04-23     15.3     18.8     13.1       0.0
3765 2023-04-24     13.8     15.4     12.0       2.2
3766 2023-04-25     12.9     13.9     11.8       4.4
3767 2023-04-26     15.0     20.2     10.1       0.0
3768 2023-04-27     14.1     17.8     10.6       0.0

[3769 rows x 5 columns]

In [8]:
df1_new=df1.fillna(0)
df1_new.head()

        year  avgTemp  maxTemp  minTemp  rainFall
0 2013-01-01      7.2     10.7      3.5       0.0
1 2013-01-02      6.2     10.9      1.3       0.0
2 2013-01-03      2.3      5.5      0.1       0.0
3 2013-01-04      3.4      6.7      0.3       0.0
4 2013-01-05      5.1      8.8      2.5       0.0

In [18]:
df1_new.to_excel(excel_writer = 'c:/tangerine_price_prediction/day_data.xlsx')

In [15]:
df_merge1 = pd.concat([df1_new, df2], join="outer")
print(df_merge1)

                     year  avgTemp  maxTemp  minTemp  rainFall  avgPrice
0     2013-01-01 00:00:00      7.2     10.7      3.5       0.0       NaN
1     2013-01-02 00:00:00      6.2     10.9      1.3       0.0       NaN
2     2013-01-03 00:00:00      2.3      5.5      0.1       0.0       NaN
3     2013-01-04 00:00:00      3.4      6.7      0.3       0.0       NaN
4     2013-01-05 00:00:00      5.1      8.8      2.5       0.0       NaN
...                   ...      ...      ...      ...       ...       ...
1091                45008      NaN      NaN      NaN       NaN    7144.0
1092                45009      NaN      NaN      NaN       NaN    7036.0
1093                45012      NaN      NaN      NaN       NaN    6941.0
1094                45013      NaN      NaN      NaN       NaN    6941.0
1095                45014      NaN      NaN      NaN       NaN    7356.0

[4865 rows x 6 columns]

In [18]:
df_merge1.to_excel(excel_writer = 'c:/tangerine_price_prediction/innerjoin.xlsx')

In [20]:
df_merge2 = pd.merge(df1_new, df2)
print(df_merge2)

           year  avgTemp  maxTemp  minTemp  rainFall avgPrice
0    2013-01-02      6.2     10.9      1.3       0.0    2,434
1    2013-01-03      2.3      5.5      0.1       0.0    2,501
2    2013-01-04      3.4      6.7      0.3       0.0    2,483
3    2013-01-07      6.6      8.6      3.8       0.0    2,491
4    2013-01-08      7.9     10.8      5.1       0.0    2,491
...         ...      ...      ...      ...       ...      ...
1091 2023-03-23     17.4     19.3     16.5       1.9    7,144
1092 2023-03-24     14.7     16.8     12.6      11.4    7,036
1093 2023-03-27     13.0     16.9     10.1       0.0    6,941
1094 2023-03-28     13.9     18.2      9.4       0.0    6,941
1095 2023-03-29     14.2     18.1     11.0       0.0    7,356

[1096 rows x 6 columns]

In [21]:
df_merge2.to_excel(excel_writer = 'c:/tangerine_price_prediction/innerjoin.xlsx')